body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    /* margin-left: 12%; */
    padding-bottom: 0px;
    padding-top: 40px;
}



h3 {
    margin-top: 50px;
}

.grid-container {
    /* margin-left: 160px; */
    margin-top: 0px;
    padding: 0px;

    display: grid; 
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    /* height: 100px; */
    /* width: 100px; */
}

#chrome,#google {
    display:none;

}

#tictactoe-btn {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 30px;
    width: 150px;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 110px;
}

#reset-btn {
    margin-top: 10px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

button:hover,
#tictactoe-btn:hover {
    background: #93ff76;
}